<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="empTable">

	<select id="selectList" resultType="empDto">
 		SELECT B.*FROM(SELECT ROWNUM AS RNUM, A.* FROM(SELECT * FROM EMP) A) B WHERE RNUM BETWEEN #{pageStartNum} AND #{pageEndNum}
 	</select>
 	
 	<select id="selectCount" resultType="int">
 		SELECT COUNT(*) FROM EMP
 	</select>
 	
 	<select id="seachList" resultType="empDto">
 		SELECT B.*FROM(SELECT ROWNUM AS RNUM, A.* FROM(SELECT * FROM EMP) A) B WHERE RNUM BETWEEN #{pageStartNum} AND #{pageEndNum} AND ENAME LIKE #{searchKeyword}
 	</select>
 	
 	<select id="keywordCount" resultType="int">
 		SELECT COUNT(*) FROM EMP WHERE ENAME LIKE #{searchKeyword}
 	</select>
	
</mapper>
